---
const platform = "github";
const username = "withastro";

const color = "text-emerald-400"

const { textColor } = Astro.props;
---

<footer>
    <p class={`${textColor}`}>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>