---
import BaseHead from "../../components/BaseHead.astro";
import NavBar from "../../components/NavBar.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
	<BaseHead title={frontmatter.title}/>

	<body class="bg-gray-900">
		<div id="hero" class="px-6 lg:px-8 bg-gradient-to-tr from-gray-900 via-blue-900 to-gray-900">
			<NavBar/>
			<div class="py-18 sm:py-24 mx-auto max-w-2xl text-center">
				<h1 class="text-3xl font-bold tracking-tight text-white sm:text-9xl">{frontmatter.heroText1}</h1>
				<h2 class="mt-6 text-lg leading-8 text-gray-200">{frontmatter.heroText2}</h2>
			</div>
		</div>
		<div class="bg-gradient-to-b from-blue-100 to-white border-top border-t-8">
			<div class="mx-auto max-w-2xl text-left h-screen">
				<article class="mt-4 prose prose-stone prose-md prose-h1:text-2xl">
					<slot/>
				</article>
			</div>
		</div>
	</body>

</html>
